body {
//background-color: red;
font-family:"Arial",sans-Serif;
font-size: 18 px;


 background-image: url('../images/back.jpg');
    background-color: #cccccc;
}

#div1 {
background-color: white;
width: 500px;
margin-bottom: 60px;
}

#light

{

position:absolute;

left:540px;

top:10px;

z-index:1;

}