/* VARIABLES  */
/* END VARIABLES  */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: 'Roboto', sans-serif; }

#titlebar {
  color: #f90075;
  /* FUNCTION */
  background-color: rgba(89, 158, 208, 0.9);
  padding-left: 1em;
  font-size: 2.5em;
  /* NESTING */
  margin-top: 30px;
  margin-bottom: 30px;
  /* END NESTING */
  font-family: 'Satisfy', cursive;
  height: 1.3em; }

.leftdiv {
  width: 40%;
  float: left;
  float: left;
  background-color: pink;
  margin-left: 40px;
  font-size: .8em; }

.rightdiv {
  width: 40%;
  float: right;
  float: right;
  background-color: black;
  color: pink;
  font-size: .8em;
  padding: 10px;
  margin-right: 40px; }

.right {
  float: right;
  padding: 7px; }

.left {
  float: left;
  padding: 7px; }

#home {
  height: 10em;
  padding: 2em;
  padding-left: 6em;
  padding-right: 6em;
  font-size: 1.2em; }

.actlink {
  /*color: #00ffff;  */ }

#headline {
  font-size: 1.4em; }

p {
  padding-bottom: 1em;
  padding-left: 1em; }

/*.bord {
  border-right: 1px dotted $gray;
  padding-right: 1.5em;
}*/
#hamburger {
  position: relative;
  left: 0px;
  top: 10px;
  display: none;
  cursor: pointer; }

h2 {
  padding: 3px;
  padding-left: 10px; }

a {
  text-decoration: none;
  color: #ffffff; }

a:hover {
  color: yellow; }

.third a {
  color: blue; }

img {
  max-width: 100%; }

#nav {
  height: 60px;
  background-color: black;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff; }

#nav li {
  text-decoration: none;
  display: inline;
  padding-right: 3em; }

#header1 {
  background-color: black;
  color: #ffffff;
  font-family: 'Satisfy', cursive;
  padding: 20px;
  font-size: 3.3em;
  width: 100%; }

#slug {
  display: inline;
  font-size: .6em; }

.container {
  width: 960px;
  background-color: #ffffff;
  margin: 0px auto;
  border: 1px dotted #9d9d9d; }

#header {
  /* /////  */
  clear: both;
  width: 100%;
  background-image: url("../images/bgBig.jpg");
  background-repeat: no-repeat;
  height: 259px; }

#footer {
  clear: left;
  width: 100%;
  background-color: #9d9d9d;
  height: 75px;
  border-top: 1px solid #ffffff;
  padding-top: 1.5em;
  padding-left: 1em; }

.hundred {
  width: 100%;
  clear: left; }

.third {
  width: 33.333%;
  float: left;
  border-right: 1px dotted #dddddd;
  border-left: 1px dotted #dddddd;
  padding-right: 1.5em;
  padding-left: 1.5em; }

img {
  float: left; }

.twothird {
  width: 66.666%;
  background-color: #ffffff;
  float: left;
  padding: 1.3em; }

.middle {
  width: 100%;
  clear: both;
  clear: right;
  clear: left;
  margin-bottom: 30px; }

.space {
  margin-bottom: 10px; }

/* NESTING  */
#smallnav {
  display: none;
  width: 200px;
  z-index: 10;
  position: absolute;
  top: 90px;
  left: 8px;
  /* FUNCTION */
  background-color: rgba(89, 158, 208, 0.9); }
  #smallnav ul a {
    display: block;
    padding: 20px 20px 20px;
    border-bottom: 1px solid gray;
    text-decoration: none; }
  #smallnav ul li {
    text-decoration: none;
    display: block; }

/* NESTING END */
#home {
  height: 10em;
  padding: 2em;
  padding-left: 6em;
  padding-right: 6em;
  font-size: 1.2em; }

@media screen and (max-width: 959px) {
  .container {
    width: 100%; }

  #header {
    clear: both;
    width: 100%; }

  #footer {
    clear: both;
    width: 100%;
    height: 75px; }

  .hundred {
    width: 100%;
    height: 200px;
    clear: left; }

  .third {
    width: 33%;
    float: left; }

  .twothird {
    width: 67%;
    float: left; }

  .middle {
    width: 100%;
    clear: both; }

  #ball {
    display: none; }

  #nav {
    height: auto; }

  p {
    font-size: .8em; }

  #home {
    height: 10em;
    padding: 2em;
    padding-left: 6em;
    padding-right: 6em;
    font-size: 1.2em; } }
@media screen and (min-width: 757px) and (max-width: 958px) {
  #headline {
    font-size: 1em; } }
@media screen and (min-width: 641px) and (max-width: 765px) {
  body {
    font-size: 1em; }

  #header {
    clear: both;
    width: 100%;
    background-image: url("../images/bgMedLg.jpg");
    background-repeat: no-repeat;
    height: 202px; }

  #home {
    height: 8em;
    padding: 2em;
    padding-left: 2em;
    padding-right: 2em;
    font-size: .9em; }

  #slug {
    display: none; }

  #headline {
    font-size: .9em; }

  #hamburger {
    display: block; }

  #nav ul {
    height: auto;
    display: none; } }
/*-----------------------------------------------*/
@media screen and (min-width: 413px) and (max-width: 640px) {
  #hamburger {
    display: block; }

  #home {
    height: 11em;
    padding-left: 2em;
    padding-right: 2em;
    font-size: .9em; }

  #headline {
    font-size: .7em; }

  .container {
    width: 100%; }

  #slug {
    display: none; }

  #header {
    clear: both;
    width: 100%;
    background-image: url("../images/bgMed2.jpg");
    background-repeat: no-repeat;
    height: 202px; }

  #footer {
    clear: both;
    width: 100%; }

  p {
    padding-bottom: .2em;
    padding-top: .2em;
    padding-left: 1em; }

  .hundred {
    width: 100%;
    height: 200px;
    clear: left; }

  .third {
    width: 100%; }

  .twothird {
    width: 100%; }

  /* NEST */
  #nav ul {
    height: auto;
    display: none; }
    #nav ul li {
      display: block;
      padding-top: 7px; }

  /* END NEST */
  #ball {
    display: none; } }
@media screen and (max-width: 412px) {
  #headline {
    font-size: .7em; }

  #slug {
    display: none; }

  #home {
    height: 10em;
    padding: 2em;
    padding-left: 2em;
    padding-right: 2em;
    font-size: 1.1em; }

  #header {
    clear: both;
    width: 100%;
    background-image: url("../images/bgSmall.jpg");
    background-repeat: no-repeat;
    height: 102px; }

  body {
    font-size: .8em; }

  #nav ul {
    height: auto;
    display: none; }

  .third {
    width: 100%;
    clear: left;
    clear: right; }

  .twothird {
    width: 100%; }

  .middle {
    margin-bottom: 5px; }

  .space {
    margin-bottom: 1px; }

  p {
    margin-bottom: -10px;
    margin-top: -8px;
    padding: 1em; }

  img {
    width: 100%; }

  #grip {
    width: auto; }

  #hamburger {
    display: block;
    width: 30px;
    height: 30px;
    top: 1px;
    margin-top: 20px; } }

/*# sourceMappingURL=styles.css.map */
