
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: 'Roboto', sans-serif;

}

.actlink {
	color: #00ffff; 
}
#headline {
	font-size: 1.4em;
}
p {
	padding-bottom: 1em;
	padding-left: 1em;
}
.bord {
	border-right: 1px dotted #dddddd;
	padding-right: 1.5em;
}

#hamburger {
	
	position: relative;
	left: 0px;
	top: 0px;
	display: none;
	cursor: pointer;

}
h2 {
	padding: 3px;
	padding-left: 10px;
}
.title {
	background-color: #cdcdcd;
	color: white;

}
a {
	text-decoration: none;
	color: white;
}
a:hover {
	color: yellow;
}
.third a {
	color: blue;
}
img {
	max-width: 100%;
}
#nav {
	height: 60px;
	background-color: black;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}
#nav li {
	text-decoration: none;
	display: inline;
	padding-right: 3em;

}

#header1 {
	background-color: black;
	color: white;
	font-family: 'Fjalla One', sans-serif;
	padding: 20px;
	font-size: 1.3em;
	width: 100%;
}
.container {
	width: 960px;
	background-color: white;
	margin: 0px auto;
	border: 1px solid gray;
}

#header {
	clear: left;
	width: 100%;
	background-image: url("../images/bgBig.jpg");
	background-repeat: no-repeat;
	height: 200px;
}
#footer {
	clear: left;
	width: 100%;
	background-color: #909090;
	height: 75px;
	border-top: 1px solid white;
	padding-top: 1.5em;
	padding-left: 1em;
}
.hundred {
	width: 100%;
	
	clear: left;
}

.third {
	width:33%;

	float: left;

}
#ball {
	background-color: yellow;
	border-radius: 50px;
	width: 50px;
	height: 50px;
	z-index: 5;
	display: inline;
	float: right;
	color: white;
	font-size: 2.1em;
	font-weight: 100;
	margin-top: -.2em;

}
#grip {
	float: left;
	margin: 1em 1em 1em;
	border-radius: 80px;


}

img {
	float: left;

}
.twothird {
	width:67%;
	background-color: white;

	float: left;
	padding: 1.3em;

}
.backh {
	/* background-image: url("images/backhand_fed.jpg"); */
}
	.middle {
		width: 100%;
		clear: both;
		clear: right;
		clear: left;
		margin-bottom: 30px;

	}
	.space {
		margin-bottom: 10px;
	}

#smallnav {
	display: none;
	width: 200px;
	z-index: 10;
	opacity: .9;
	position: absolute;
	top: 70px;
	left: 8px;
	background-color: #D63E1D;

}
#smallnav ul a {
	display: block;
	padding: 20px 20px 20px;
	border-bottom: 1px solid gray;
	text-decoration: none;
	}

	#smallnav ul li {
	text-decoration: none;
	display: block;
}


@media screen and (max-width:959px) {
	.container {
		width: 100%;

	}
	#header {
		clear: both;
		width: 100%;
	}
	#footer {
		clear: both;
		width: 100%;

	    height: 75px;
	}
	.hundred {
		width: 100%;

		height: 200px;

		clear: left;
	}

	.third {
		width:33%;

	
		float: left;
	}


	.twothird {
		width:67%;


		float: left;
	}
	.middle {
		width: 100%;
		clear: both;
	}
		#ball {
		display: none;
	}
	#nav {
		height: auto;
	}

	p {
		font-size: .8em;
	}
}

@media screen and (min-width:641px) and (max-width:765px) {

	body {
		font-size: 1em;
	}
	#headline {
	font-size: 1.2em;
	}
	#hamburger {
		display: block;
	}

	#nav ul {
		height: auto;
		display: none;

	}
}
/*-----------------------------------------------*/
@media screen and (min-width:401px) and (max-width:640px) {
	#hamburger {
		display: block;
	}
	#headline {
		font-size: .9em;
	}
	.container {
		width: 100%;

	}

	#header {
		clear: both;
		width: 100%;
	    background-image: url("../images/bgMed2.jpg");
	    background-repeat: no-repeat;
	}
    #footer {
		clear: both;
		width: 100%;
	}

	p {
		padding-bottom: .2em;
		padding-top: .2em;
		padding-left: 1em;
	}
	
	.hundred {
		width: 100%;

		height: 200px;

		clear: left;
	}

	.third {
		width:100%;

	}


	.twothird {
		width:100%;

	}

	#nav ul li {
		display: block;
		padding-top: 7px;
	}
	#ball {
		display: none;
	}

	#nav ul {
		height: auto;
		display: none;

	}
}

@media screen and (max-width:400px) {
	#headline {
	font-size: .95em;
	}

	#header {
	    clear: both;
		width: 100%;
	    background-image: url("../images/bgSmall.jpg");
	    background-repeat: no-repeat;
	    height: 104px;
	}
	body {
		font-size: .8em;
	}


	#nav ul {
		height: auto;
		display: none;

	}
	.third {
		width: 100%;
		clear: left;
	    clear: right;
	}
	.twothird {
		width: 100%;
	}
	.middle {
		margin-bottom: 5px;
	}
	.space {
		margin-bottom: 1px;
	}
	p {
		margin-bottom: -10px;
		margin-top: -8px;
		padding: 1em;
	}
	img {
		width: 100%;
	}
	#grip {
		width: auto;

	}
	#hamburger {
	
		display: block;
		width: 30px;
		height: 30px;
		top: -5px;
	}

}