/* VARIABLES  */
/* END VARIABLES  */
/* MIXINS */
/* END MIXINS  */
/* line 6, ../sass/styles.scss */
html {
  box-sizing: border-box;
}

/* line 9, ../sass/styles.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 13, ../sass/styles.scss */
body {
  font-family: 'Roboto', sans-serif;
}

/* line 18, ../sass/styles.scss */
#titlebar {
  color: #f90075;
  /* FUNCTION */
  background-color: rgba(89, 158, 208, 0.9);
  padding-left: 1em;
  font-size: 2.5em;
  /* NESTING */
  margin-top: 30px;
  margin-bottom: 30px;
  /* END NESTING */
  font-family: 'Satisfy', cursive;
  height: 1.3em;
}

/* MIXIN USE */
/* AND COMPASS MIXINS USE */
/* line 38, ../sass/styles.scss */
.leftdiv {
  width: 43%;
  float: left;
  float: left;
  background-color: pink;
  margin-left: 40px;
  font-size: .8em;
  padding: 10px;
  border: 2px solid red;
  -moz-border-radius-topleft: 45px;
  -webkit-border-top-left-radius: 45px;
  border-top-left-radius: 45px;
  -moz-border-radius-bottomleft: 45px;
  -webkit-border-bottom-left-radius: 45px;
  border-bottom-left-radius: 45px;
  /*COMAPSS */
  -moz-box-shadow: black 7px 7px 10px;
  -webkit-box-shadow: black 7px 7px 10px;
  box-shadow: black 7px 7px 10px;
  /*COMAPSS */
  margin-bottom: 30px !important;
}

/* line 49, ../sass/styles.scss */
.rightdiv {
  width: 43%;
  float: right;
  float: right;
  background-color: black;
  color: pink;
  font-size: .8em;
  clear: right;
  padding: 10px;
  margin-right: 40px;
  margin-bottom: 13px;
  border: 3px solid red;
  -moz-border-radius-topright: 35px;
  -webkit-border-top-right-radius: 35px;
  border-top-right-radius: 35px;
  -moz-border-radius-bottomright: 35px;
  -webkit-border-bottom-right-radius: 35px;
  border-bottom-right-radius: 35px;
  /*COMAPSS */
}

/* line 58, ../sass/styles.scss */
h3 {
  hed: three;
  color: #d926d9;
  font-size: 1.4em;
  font-family: "Times New Roman", Georgia, Serif;
}

/* line 62, ../sass/styles.scss */
h4 {
  hed: four;
  color: blue;
  font-size: 1.8em;
  font-family: "Verdana", sans-serif;
}

/* END MIXIN USE */
/* EXTEND */
/* line 69, ../sass/styles.scss */
#par1, #par2 {
  font-weight: 500;
  font-style: oblique;
  line-height: 98%;
}

/* END EXTEND */
/* line 79, ../sass/styles.scss */
.right {
  float: right;
  padding: 7px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  /*COMAPSS */
}

/* line 85, ../sass/styles.scss */
.left {
  float: left;
  padding: 7px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  /*COMAPSS */
}

/* line 90, ../sass/styles.scss */
#home {
  height: 10em;
  padding: 2em;
  padding-left: 2em !important;
  padding-right: 2em !important;
  font-size: 1.1em;
}

/* line 97, ../sass/styles.scss */
.actlink {
  /*color: #00ffff;  */
}

/* line 100, ../sass/styles.scss */
#headline {
  font-size: 1.4em;
}

/* line 103, ../sass/styles.scss */
p {
  padding-bottom: 1em;
  padding-left: 1em;
}

/*.bord {
  border-right: 1px dotted $gray;
  padding-right: 1.5em;
}*/
/* line 112, ../sass/styles.scss */
#hamburger {
  position: relative;
  left: 0px;
  top: 10px;
  display: none;
  cursor: pointer;
}

/* line 121, ../sass/styles.scss */
h2 {
  padding: 3px;
  padding-left: 10px;
}

/* line 126, ../sass/styles.scss */
a {
  text-decoration: none;
  color: #ffffff;
}

/* line 130, ../sass/styles.scss */
a:hover {
  color: yellow;
}

/* line 133, ../sass/styles.scss */
.third a {
  color: blue;
}

/* line 136, ../sass/styles.scss */
img {
  max-width: 100%;
}

/* line 139, ../sass/styles.scss */
#nav {
  height: 60px;
  background-color: black;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

/* line 145, ../sass/styles.scss */
#nav li {
  text-decoration: none;
  display: inline;
  padding-right: 2.9em;
}

/* line 152, ../sass/styles.scss */
#header1 {
  background-color: black;
  color: #ffffff;
  font-family: 'Satisfy', cursive;
  padding: 20px;
  font-size: 3.3em;
  width: 100%;
}

/* line 161, ../sass/styles.scss */
#slug {
  display: inline;
  font-size: .6em;
}

/* line 165, ../sass/styles.scss */
.container {
  width: 960px;
  background-color: #ffffff;
  margin: 0px auto;
  border: 1px dotted #9d9d9d;
}

/* line 172, ../sass/styles.scss */
#header {
  /* /////  */
  clear: both;
  width: 100%;
  background-image: url("../images/bgBig.jpg");
  background-repeat: no-repeat;
  height: 259px;
}

/* line 180, ../sass/styles.scss */
#footer {
  clear: left;
  width: 100%;
  background-color: #9d9d9d;
  height: 75px;
  border-top: 1px solid #ffffff;
  padding-top: 1.5em;
  padding-left: 1em;
}

/* line 189, ../sass/styles.scss */
.hundred {
  width: 100%;
  clear: left;
}

/* line 195, ../sass/styles.scss */
.third {
  width: 33.33%;
  float: left;
  border-right: 1px dotted #dddddd;
  border-left: 1px dotted #dddddd;
  padding-right: 1.5em;
  padding-left: 1.5em;
}

/* line 207, ../sass/styles.scss */
img {
  float: left;
}

/* line 211, ../sass/styles.scss */
.twothird {
  /* MATH */
  width: 67%;
  background-color: #ffffff;
  float: left;
  padding: 1.3em;
}

/* line 220, ../sass/styles.scss */
.middle {
  width: 100%;
  clear: both;
  clear: right;
  clear: left;
  margin-bottom: 30px;
}

/* line 228, ../sass/styles.scss */
.space {
  margin-bottom: 10px;
}

/* NESTING  */
/* line 233, ../sass/styles.scss */
#smallnav {
  display: none;
  width: 200px;
  z-index: 10;
  position: absolute;
  top: 90px;
  left: 8px;
  /* FUNCTION */
  background-color: rgba(89, 158, 208, 0.9);
}
/* line 245, ../sass/styles.scss */
#smallnav ul a {
  display: block;
  padding: 20px 20px 20px;
  border-bottom: 1px solid gray;
  text-decoration: none;
}
/* line 252, ../sass/styles.scss */
#smallnav ul li {
  text-decoration: none;
  display: block;
}

/* NESTING END */
/* line 259, ../sass/styles.scss */
#home {
  height: 10em;
  padding: 2em;
  padding-left: 6em;
  padding-right: 6em;
  font-size: 1.2em;
}

@media screen and (max-width: 959px) {
  /* line 269, ../sass/styles.scss */
  .container {
    width: 100%;
  }

  /* line 273, ../sass/styles.scss */
  #header {
    clear: both;
    width: 100%;
  }

  /* line 277, ../sass/styles.scss */
  #footer {
    clear: both;
    width: 100%;
    height: 75px;
  }

  /* line 283, ../sass/styles.scss */
  .hundred {
    width: 100%;
    height: 200px;
    clear: left;
  }

  /* line 291, ../sass/styles.scss */
  .third {
    width: 33%;
    float: left;
  }

  /* line 298, ../sass/styles.scss */
  .twothird {
    width: 67%;
    /*maybe add here */
    float: left;
  }

  /* line 304, ../sass/styles.scss */
  .middle {
    width: 100%;
    clear: both;
  }

  /* line 308, ../sass/styles.scss */
  #ball {
    display: none;
  }

  /* line 311, ../sass/styles.scss */
  #nav {
    height: auto;
  }

  /* line 315, ../sass/styles.scss */
  p {
    font-size: .8em;
  }

  /* line 318, ../sass/styles.scss */
  #home {
    height: 10em;
    padding: 2em;
    padding-left: 6em;
    padding-right: 6em;
    font-size: 1.2em;
  }
}
@media screen and (min-width: 757px) and (max-width: 958px) {
  /* line 329, ../sass/styles.scss */
  #headline {
    font-size: 1em;
  }
}
@media screen and (min-width: 641px) and (max-width: 765px) {
  /* line 336, ../sass/styles.scss */
  body {
    font-size: 1em;
  }

  /* line 339, ../sass/styles.scss */
  #header {
    clear: both;
    width: 100%;
    background-image: url("../images/bgMedLg.jpg");
    background-repeat: no-repeat;
    height: 202px;
  }

  /* line 347, ../sass/styles.scss */
  #home {
    height: 8em;
    padding: 2em;
    padding-left: 2em;
    padding-right: 2em;
    font-size: .9em;
  }

  /* line 355, ../sass/styles.scss */
  #slug {
    display: none;
  }

  /* line 358, ../sass/styles.scss */
  #headline {
    font-size: .9em;
  }

  /* line 361, ../sass/styles.scss */
  #hamburger {
    display: block;
  }

  /* line 366, ../sass/styles.scss */
  #nav ul {
    height: auto;
    display: none;
  }
}
/*-----------------------------------------------*/
@media screen and (min-width: 413px) and (max-width: 640px) {
  /* line 374, ../sass/styles.scss */
  .leftdiv {
    width: 100%;
    margin-left: 0px;
  }

  /* line 378, ../sass/styles.scss */
  .rightdiv {
    width: 100%;
    margin-right: 0px;
  }

  /* line 382, ../sass/styles.scss */
  #hamburger {
    display: block;
  }

  /* line 385, ../sass/styles.scss */
  #home {
    height: 11em;
    padding-left: 2em;
    padding-right: 2em;
    font-size: .9em;
  }

  /* line 393, ../sass/styles.scss */
  #headline {
    font-size: .7em;
  }

  /* line 396, ../sass/styles.scss */
  .container {
    width: 100%;
  }

  /* line 400, ../sass/styles.scss */
  #slug {
    display: none;
  }

  /* line 405, ../sass/styles.scss */
  #header {
    clear: both;
    width: 100%;
    background-image: url("../images/bgMed2.jpg");
    background-repeat: no-repeat;
    height: 202px;
  }

  /* line 413, ../sass/styles.scss */
  #footer {
    clear: both;
    width: 100%;
  }

  /* line 418, ../sass/styles.scss */
  p {
    padding-bottom: .2em;
    padding-top: .2em;
    padding-left: 1em;
  }

  /* line 424, ../sass/styles.scss */
  .hundred {
    width: 100%;
    height: 200px;
    clear: left;
  }

  /* line 432, ../sass/styles.scss */
  .third {
    width: 100%;
  }

  /* line 438, ../sass/styles.scss */
  .twothird {
    width: 100%;
  }

  /* NEST */
  /* line 444, ../sass/styles.scss */
  #nav ul {
    height: auto;
    display: none;
  }
  /* line 449, ../sass/styles.scss */
  #nav ul li {
    display: block;
    padding-top: 7px;
  }

  /* END NEST */
  /* line 455, ../sass/styles.scss */
  #ball {
    display: none;
  }
}
@media screen and (max-width: 412px) {
  /* line 463, ../sass/styles.scss */
  .leftdiv {
    width: 100%;
    margin-left: 0px;
  }

  /* line 467, ../sass/styles.scss */
  .rightdiv {
    width: 100%;
    margin-right: 0px;
  }

  /* line 471, ../sass/styles.scss */
  #headline {
    font-size: .7em;
  }

  /* line 474, ../sass/styles.scss */
  #slug {
    display: none;
  }

  /* line 477, ../sass/styles.scss */
  #home {
    height: 10em;
    padding: 2em;
    font-size: 1em;
  }

  /* line 483, ../sass/styles.scss */
  #header {
    clear: both;
    width: 100%;
    background-image: url("../images/bgSmall.jpg");
    background-repeat: no-repeat;
    height: 102px;
  }

  /* line 491, ../sass/styles.scss */
  body {
    font-size: .8em;
  }

  /* line 496, ../sass/styles.scss */
  #nav ul {
    height: auto;
    display: none;
  }

  /* line 501, ../sass/styles.scss */
  .third {
    width: 100%;
    clear: left;
    clear: right;
  }

  /* line 506, ../sass/styles.scss */
  .twothird {
    width: 100%;
  }

  /* line 509, ../sass/styles.scss */
  .middle {
    margin-bottom: 5px;
  }

  /* line 512, ../sass/styles.scss */
  .space {
    margin-bottom: 1px;
  }

  /* line 515, ../sass/styles.scss */
  p {
    margin-bottom: -10px;
    margin-top: -8px;
    padding: 1em;
  }

  /* line 520, ../sass/styles.scss */
  img {
    width: 100%;
  }

  /* line 523, ../sass/styles.scss */
  #grip {
    width: auto;
  }

  /* line 527, ../sass/styles.scss */
  #hamburger {
    display: block;
    width: 30px;
    height: 30px;
    top: 1px;
    margin-top: 20px;
  }
}
