/* VARIABLES  */
/* END VARIABLES  */
/* MIXINS */
/* END MIXINS  */
/* line 6, ../sass/styles.scss */
html {
  box-sizing: border-box;
}

/* line 9, ../sass/styles.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 13, ../sass/styles.scss */
body {
  font-family: 'Roboto', sans-serif;
}

/* line 18, ../sass/styles.scss */
#titlebar {
  color: #f90075;
  /* FUNCTION */
  background-color: rgba(89, 158, 208, 0.9);
  padding-left: 1em;
  font-size: 2.5em;
  /* NESTING */
  margin-top: 30px;
  margin-bottom: 30px;
  /* END NESTING */
  font-family: 'Satisfy', cursive;
  height: 1.3em;
}

/* MIXIN USE */
/* AND COMPASS MIXINS USE */
/* line 38, ../sass/styles.scss */
.leftdiv {
  width: 43%;
  float: left;
  float: left;
  background-color: pink;
  margin-left: 40px;
  font-size: .8em;
  padding: 10px;
  border: 2px solid red;
  -moz-border-radius-topleft: 45px;
  -webkit-border-top-left-radius: 45px;
  border-top-left-radius: 45px;
  -moz-border-radius-bottomleft: 45px;
  -webkit-border-bottom-left-radius: 45px;
  border-bottom-left-radius: 45px;
  /*COMAPSS */
  -moz-box-shadow: black 7px 7px 10px;
  -webkit-box-shadow: black 7px 7px 10px;
  box-shadow: black 7px 7px 10px;
  /*COMAPSS */
  margin-bottom: 30px !important;
}

/* line 49, ../sass/styles.scss */
.rightdiv {
  width: 43%;
  float: right;
  float: right;
  background-color: black;
  color: pink;
  font-size: .8em;
  clear: right;
  padding: 10px;
  margin-right: 40px;
  margin-bottom: 13px;
  border: 3px solid red;
  -moz-border-radius-topright: 35px;
  -webkit-border-top-right-radius: 35px;
  border-top-right-radius: 35px;
  -moz-border-radius-bottomright: 35px;
  -webkit-border-bottom-right-radius: 35px;
  border-bottom-right-radius: 35px;
  /*COMAPSS */
}

/* line 58, ../sass/styles.scss */
h3 {
  hed: three;
  color: #d926d9;
  font-size: 1.4em;
  font-family: "Times New Roman", Georgia, Serif;
}

/* line 62, ../sass/styles.scss */
h4 {
  hed: four;
  color: blue;
  font-size: 1.8em;
  font-family: "Verdana", sans-serif;
}

/* END MIXIN USE */
/* EXTEND */
/* line 69, ../sass/styles.scss */
#par1, #par2 {
  font-weight: 500;
  font-style: oblique;
  line-height: 98%;
}

/* END EXTEND */
/* line 80, ../sass/styles.scss */
.right {
  float: right;
  padding: 7px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  /*COMAPSS */
}

/* line 86, ../sass/styles.scss */
.left {
  float: left;
  padding: 7px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  /*COMAPSS */
}

/* line 91, ../sass/styles.scss */
#home {
  height: 10em;
  padding: 2em;
  padding-left: 4em;
  padding-right: 4em;
  font-size: 1.1em;
}

/* line 99, ../sass/styles.scss */
.actlink {
  /*color: #00ffff;  */
}

/* line 102, ../sass/styles.scss */
#headline {
  font-size: 1.4em;
}

/* line 105, ../sass/styles.scss */
p {
  padding-bottom: 1em;
  padding-left: 1em;
}

/*.bord {
  border-right: 1px dotted $gray;
  padding-right: 1.5em;
}*/
/* line 114, ../sass/styles.scss */
#hamburger {
  position: relative;
  left: 0px;
  top: 10px;
  display: none;
  cursor: pointer;
}

/* line 123, ../sass/styles.scss */
h2 {
  padding: 3px;
  padding-left: 10px;
}

/* line 128, ../sass/styles.scss */
a {
  text-decoration: none;
  color: #ffffff;
}

/* line 132, ../sass/styles.scss */
a:hover {
  color: yellow;
}

/* line 135, ../sass/styles.scss */
.third a {
  color: blue;
}

/* line 138, ../sass/styles.scss */
img {
  max-width: 100%;
}

/* line 141, ../sass/styles.scss */
#nav {
  height: 60px;
  background-color: black;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

/* line 147, ../sass/styles.scss */
#nav li {
  text-decoration: none;
  display: inline;
  padding-right: 2.9em;
}

/* line 154, ../sass/styles.scss */
#header1 {
  background-color: black;
  color: #ffffff;
  font-family: 'Satisfy', cursive;
  padding: 20px;
  font-size: 3.3em;
  width: 100%;
}

/* line 163, ../sass/styles.scss */
#slug {
  display: inline;
  font-size: .6em;
}

/* line 167, ../sass/styles.scss */
.container {
  width: 960px;
  background-color: #ffffff;
  margin: 0px auto;
  border: 1px dotted #9d9d9d;
}

/* line 174, ../sass/styles.scss */
#header {
  /* /////  */
  clear: both;
  width: 100%;
  background-image: url("../images/bgBig.jpg");
  background-repeat: no-repeat;
  height: 259px;
}

/* line 182, ../sass/styles.scss */
#footer {
  clear: left;
  width: 100%;
  background-color: #9d9d9d;
  height: 75px;
  border-top: 1px solid #ffffff;
  padding-top: 1.5em;
  padding-left: 1em;
}

/* line 191, ../sass/styles.scss */
.hundred {
  width: 100%;
  clear: left;
}

/* line 197, ../sass/styles.scss */
.third {
  width: 33.33%;
  float: left;
  border-right: 1px dotted #dddddd;
  border-left: 1px dotted #dddddd;
  padding-right: 1.5em;
  padding-left: 1.5em;
}

/* line 209, ../sass/styles.scss */
img {
  float: left;
}

/* line 213, ../sass/styles.scss */
.twothird {
  /* MATH */
  width: 67%;
  background-color: #ffffff;
  float: left;
  padding: 1.3em;
}

/* line 222, ../sass/styles.scss */
.middle {
  width: 100%;
  clear: both;
  clear: right;
  clear: left;
  margin-bottom: 30px;
}

/* line 230, ../sass/styles.scss */
.space {
  margin-bottom: 10px;
}

/* NESTING  */
/* line 235, ../sass/styles.scss */
#smallnav {
  display: none;
  width: 200px;
  z-index: 10;
  position: absolute;
  top: 90px;
  left: 8px;
  /* FUNCTION */
  background-color: rgba(89, 158, 208, 0.9);
}
/* line 247, ../sass/styles.scss */
#smallnav ul a {
  display: block;
  padding: 20px 20px 20px;
  border-bottom: 1px solid gray;
  text-decoration: none;
}
/* line 254, ../sass/styles.scss */
#smallnav ul li {
  text-decoration: none;
  display: block;
}

/* NESTING END */
/* line 261, ../sass/styles.scss */
#home {
  height: 10em;
  padding: 2em;
  padding-left: 6em;
  padding-right: 6em;
  font-size: 1.2em;
}

@media screen and (max-width: 959px) {
  /* line 271, ../sass/styles.scss */
  .container {
    width: 100%;
  }

  /* line 275, ../sass/styles.scss */
  #header {
    clear: both;
    width: 100%;
  }

  /* line 279, ../sass/styles.scss */
  #footer {
    clear: both;
    width: 100%;
    height: 75px;
  }

  /* line 285, ../sass/styles.scss */
  .hundred {
    width: 100%;
    height: 200px;
    clear: left;
  }

  /* line 293, ../sass/styles.scss */
  .third {
    width: 33%;
    float: left;
  }

  /* line 300, ../sass/styles.scss */
  .twothird {
    width: 67%;
    /*maybe add here */
    float: left;
  }

  /* line 306, ../sass/styles.scss */
  .middle {
    width: 100%;
    clear: both;
  }

  /* line 310, ../sass/styles.scss */
  #ball {
    display: none;
  }

  /* line 313, ../sass/styles.scss */
  #nav {
    height: auto;
  }

  /* line 317, ../sass/styles.scss */
  p {
    font-size: .8em;
  }

  /* line 320, ../sass/styles.scss */
  #home {
    height: 10em;
    padding: 2em;
    padding-left: 6em;
    padding-right: 6em;
    font-size: 1.2em;
  }
}
@media screen and (min-width: 757px) and (max-width: 958px) {
  /* line 331, ../sass/styles.scss */
  #headline {
    font-size: 1em;
  }
}
@media screen and (min-width: 641px) and (max-width: 765px) {
  /* line 338, ../sass/styles.scss */
  body {
    font-size: 1em;
  }

  /* line 341, ../sass/styles.scss */
  #header {
    clear: both;
    width: 100%;
    background-image: url("../images/bgMedLg.jpg");
    background-repeat: no-repeat;
    height: 202px;
  }

  /* line 349, ../sass/styles.scss */
  #home {
    height: 8em;
    padding: 2em;
    padding-left: 2em;
    padding-right: 2em;
    font-size: .9em;
  }

  /* line 357, ../sass/styles.scss */
  #slug {
    display: none;
  }

  /* line 360, ../sass/styles.scss */
  #headline {
    font-size: .9em;
  }

  /* line 363, ../sass/styles.scss */
  #hamburger {
    display: block;
  }

  /* line 368, ../sass/styles.scss */
  #nav ul {
    height: auto;
    display: none;
  }
}
/*-----------------------------------------------*/
@media screen and (min-width: 413px) and (max-width: 640px) {
  /* line 376, ../sass/styles.scss */
  .leftdiv {
    width: 100%;
    margin-left: 0px;
  }

  /* line 380, ../sass/styles.scss */
  .rightdiv {
    width: 100%;
    margin-right: 0px;
  }

  /* line 384, ../sass/styles.scss */
  #hamburger {
    display: block;
  }

  /* line 387, ../sass/styles.scss */
  #home {
    height: 11em;
    padding-left: 2em;
    padding-right: 2em;
    font-size: .9em;
  }

  /* line 395, ../sass/styles.scss */
  #headline {
    font-size: .7em;
  }

  /* line 398, ../sass/styles.scss */
  .container {
    width: 100%;
  }

  /* line 402, ../sass/styles.scss */
  #slug {
    display: none;
  }

  /* line 407, ../sass/styles.scss */
  #header {
    clear: both;
    width: 100%;
    background-image: url("../images/bgMed2.jpg");
    background-repeat: no-repeat;
    height: 202px;
  }

  /* line 415, ../sass/styles.scss */
  #footer {
    clear: both;
    width: 100%;
  }

  /* line 420, ../sass/styles.scss */
  p {
    padding-bottom: .2em;
    padding-top: .2em;
    padding-left: 1em;
  }

  /* line 426, ../sass/styles.scss */
  .hundred {
    width: 100%;
    height: 200px;
    clear: left;
  }

  /* line 434, ../sass/styles.scss */
  .third {
    width: 100%;
  }

  /* line 440, ../sass/styles.scss */
  .twothird {
    width: 100%;
  }

  /* NEST */
  /* line 446, ../sass/styles.scss */
  #nav ul {
    height: auto;
    display: none;
  }
  /* line 451, ../sass/styles.scss */
  #nav ul li {
    display: block;
    padding-top: 7px;
  }

  /* END NEST */
  /* line 457, ../sass/styles.scss */
  #ball {
    display: none;
  }
}
@media screen and (max-width: 412px) {
  /* line 465, ../sass/styles.scss */
  .leftdiv {
    width: 100%;
    margin-left: 0px;
  }

  /* line 469, ../sass/styles.scss */
  .rightdiv {
    width: 100%;
    margin-right: 0px;
  }

  /* line 473, ../sass/styles.scss */
  #headline {
    font-size: .7em;
  }

  /* line 476, ../sass/styles.scss */
  #slug {
    display: none;
  }

  /* line 479, ../sass/styles.scss */
  #home {
    height: 10em;
    padding: 2em;
    padding-left: 2em;
    padding-right: 2em;
    font-size: 1.1em;
  }

  /* line 487, ../sass/styles.scss */
  #header {
    clear: both;
    width: 100%;
    background-image: url("../images/bgSmall.jpg");
    background-repeat: no-repeat;
    height: 102px;
  }

  /* line 495, ../sass/styles.scss */
  body {
    font-size: .8em;
  }

  /* line 500, ../sass/styles.scss */
  #nav ul {
    height: auto;
    display: none;
  }

  /* line 505, ../sass/styles.scss */
  .third {
    width: 100%;
    clear: left;
    clear: right;
  }

  /* line 510, ../sass/styles.scss */
  .twothird {
    width: 100%;
  }

  /* line 513, ../sass/styles.scss */
  .middle {
    margin-bottom: 5px;
  }

  /* line 516, ../sass/styles.scss */
  .space {
    margin-bottom: 1px;
  }

  /* line 519, ../sass/styles.scss */
  p {
    margin-bottom: -10px;
    margin-top: -8px;
    padding: 1em;
  }

  /* line 524, ../sass/styles.scss */
  img {
    width: 100%;
  }

  /* line 527, ../sass/styles.scss */
  #grip {
    width: auto;
  }

  /* line 531, ../sass/styles.scss */
  #hamburger {
    display: block;
    width: 30px;
    height: 30px;
    top: 1px;
    margin-top: 20px;
  }
}
